<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Registration</title>
</head>
<body>
    
    <h2>StaffRegistration</h2>
    <form action="{{ url_for('staff_registration') }}" method="POST">
        
        <label for="userid">userid</label><br>
        <input type="number" id="userid" name="userid"  required><br>


        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>
